/**{
	margin:0px;
	padding:0px;
}*/
body{
	margin: 0px;
	background-color:#bfbfbf;
	font-family: Arial, Helvetica, sans-serif;;

}
.header{
	background-color:#321940;
}
.header img{
	width: 70px;
	height: 70px;
	margin-left: 100px;

}
.header h2{
	float:right;
	color:white ;
	margin-right:100px;
	margin-top: 25px;

}
.photoDetails{
	display: flex;
	margin:15px ;
}
.photo{
	margin-right:10px;
	margin-left:150px ;
}
.about{
	text-align: justify;
	margin-right:150px;
	margin-left: 20px;
}
.photo img{
	width: 450px;
	height: 300px;
	margin-right: 15px;

}
.mycontainer{
	display:flex;
	border:1px dotted blue;
	margin-left:30px;
	padding:20px;
}
.mycontainer div{
	width:30%;
	margin:10px ;
	padding:25px ;
}
